In [2]:
# pandasのimport
import pandas as pd
# fbprophetのimport
from fbprophet import Prophet

# ツイートのCSVデータの読み込み
df = pd.read_csv("NoCode_2020-05-28-23-25.csv")
df

,Unnamed: 0,ユーザー名,ユーザーid,RT数,いいね数,日時,本文
0,0,_NoCode,1266008783542800385,0,3,2020-05-28 23:09:49,Thanks to everyone that tuned in to our @ BAFT...
1,1,YaronMSK,1266008092443107328,0,1,2020-05-28 23:07:05,Thanks @ _NoCode and @ BAFTAGames for this ins...
2,2,cpdis,1266008019768274946,0,1,2020-05-28 23:06:47,@ webflow because I wanted to learn what this ...
3,3,nocodedevs,1266007968853655554,0,1,2020-05-28 23:06:35,Check out NoCodery ( @ nocodery)'s latest # no...
4,4,DanielDiggle,1266007553730916352,3,3,2020-05-28 23:04:56,Knights vs Goblins Assets starting to come tog...
...,...,...,...,...,...,...,...
8781,8781,searchblox,1250455843872673796,4,3,2020-04-16 01:08:00,Setup full text # faceted # search for any # d...
8782,8782,meetKushan,1250455536769908737,0,1,2020-04-16 01:06:46,Building an Approval experience in Canvas Apps...
8783,8783,JensLennartsson,1250455136016584704,0,4,2020-04-16 01:05:11,If you could learn EVERYTHING about one # noco...
8784,8784,KNSG09,1250454131505901568,0,1,2020-04-16 01:01:11,Nocodeは知り合いに趣味で調べまくってる方がいるので可能性探るならご紹介します (ご興味...
8785,8785,apponboardinc,1250452616338984961,3,8,2020-04-16 00:55:10,Grow big and fast w/ # AppOnboardStudio! Check...

In [3]:
# 最初の5行を取得
df.head()

# 行数・列数を取得
df.shape

(8786, 7)

In [4]:
# データの整形
# 日時といいね数の列を取り出して新しいDataFrameを作る。
df = df.loc[:,['日時','いいね数']]

In [5]:
# 日時をdatetime型にする
df['日時'] = pd.to_datetime(df['日時'])

In [6]:
#　日付が同じデータを足してまとめる
df = df.resample('D', on='日時').sum()
df

            いいね数
日時
2020-04-16  1058
2020-04-17   939
2020-04-18  1243
2020-04-19  1125
2020-04-20  1049
2020-04-21  1342
2020-04-22  1120
2020-04-23  1316
2020-04-24  1326
2020-04-25  1071
2020-04-26   949
2020-04-27  1000
2020-04-28  1738
2020-04-29  1531
2020-04-30   968
2020-05-01   884
2020-05-02  1505
2020-05-03  1251
2020-05-04  1304
2020-05-05  1657
2020-05-06   861
2020-05-07   987
2020-05-08  1280
2020-05-09  1109
2020-05-10  1137
2020-05-11   992
2020-05-12  1890
2020-05-13  2149
2020-05-14  1574
2020-05-15  2633
2020-05-16  1350
2020-05-17  1082
2020-05-18  1206
2020-05-19  1553
2020-05-20  2081
2020-05-21  1904
2020-05-22  1952
2020-05-23  1430
2020-05-24  1241
2020-05-25  2094
2020-05-26  2167
2020-05-27  2135
2020-05-28  1712

In [7]:
# 通常の0から始まるindexを追加
df = df.reset_index()

In [8]:
# prophetの予測のために、dsとyをカラム名に設定
df = df.rename(columns={'日時':'ds', 'いいね数':'y'})
df

           ds     y
0  2020-04-16  1058
1  2020-04-17   939
2  2020-04-18  1243
3  2020-04-19  1125
4  2020-04-20  1049
5  2020-04-21  1342
6  2020-04-22  1120
7  2020-04-23  1316
8  2020-04-24  1326
9  2020-04-25  1071
10 2020-04-26   949
11 2020-04-27  1000
12 2020-04-28  1738
13 2020-04-29  1531
14 2020-04-30   968
15 2020-05-01   884
16 2020-05-02  1505
17 2020-05-03  1251
18 2020-05-04  1304
19 2020-05-05  1657
20 2020-05-06   861
21 2020-05-07   987
22 2020-05-08  1280
23 2020-05-09  1109
24 2020-05-10  1137
25 2020-05-11   992
26 2020-05-12  1890
27 2020-05-13  2149
28 2020-05-14  1574
29 2020-05-15  2633
30 2020-05-16  1350
31 2020-05-17  1082
32 2020-05-18  1206
33 2020-05-19  1553
34 2020-05-20  2081
35 2020-05-21  1904
36 2020-05-22  1952
37 2020-05-23  1430
38 2020-05-24  1241
39 2020-05-25  2094
40 2020-05-26  2167
41 2020-05-27  2135
42 2020-05-28  1712

In [ ]:
# protphetのインスタンスを作成
m = Prophet()

In [ ]:
# データを元に学習
m.fit(df)

In [ ]:
# 予測する分のデータフレームの作成
future = m.make_future_dataframe(periods=60)
# 後ろから5行を表示
future.tail()

In [ ]:
# 予測する
forecast = m.predict(future)

In [ ]:
# 予測データの描画
m.plot(forecast)

In [ ]:
# 予測データのトレンドや周期性を描画
fig2 = m.plot_components(forecast)

In [ ]:
# plotlyのimport
#from fbprophet.plot import plot_plotly
#import plotly.offline as py

In [ ]:
# 予測データをインタラクティブに描画
#fig1 = plot_plotly(m, forecast)
#py.plot(fig1)